html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

body {
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
}

nav {
  padding: 40px;
}
header li {
  display: inline-flex;
  margin: 20px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
}
.logo img{
   height: 32px;
   width: auto;
   margin-left: 24px;
   margin-right: 5px;
}

.logo a {
  font-size: 32px;
}

a span {
  color: #9b9b9b;
}

.btn, .btn:link, .btn:visited {
color: black;
font-size: 14px;
}

a, a:link, a:visited {
  color: #4a4a4a;
  text-decoration: none;
}

.main-content {
  display: flex;
  background-color: #d8d8d8;
  position: relative;
  top: 64px;
}

.banner img {
  display: flex;
  width: 90%;
  height: auto;
  margin: 32px 0px 32px 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
  margin-right: 60px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #4a4a4a;
  display: center;
  color: white;
  transition: color 500ms linear 0s;
}

.call-to-action:hover {
  color: pink;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  color: white;
}
