html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

body {
  width: 100%;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 64px;
  background-color: white;
}

nav {
  padding: 40px;
}
header li {
  display: inline-flex;
  margin: 20px;
}

@media only screen and (min-width: 760px) {
    .mobile {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
      .desktop {
      display: none;
    }
}

@media only screen and (max-width: 760px) {
      header .logo {
      display: none;
    }
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
}
.logo img{
   height: 32px;
   width: auto;
   margin-left: 24px;
   margin-right: 5px;
}

.logo a {
  font-size: 32px;
}

a span {
  color: #9b9b9b;
}

.btn, .btn:link, .btn:visited {
color: black;
font-size: 14px;
}

a, a:link, a:visited {
  color: #4a4a4a;
  text-decoration: none;
}

.main-content {
  display: flex;
  background-color: #d8d8d8;
  position: relative;
  top: 64px;
}

.banner img {
  display: flex;
  width: 90%;
  height: auto;
  margin: 32px 0px 32px 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
  margin-right: 60px;
}

@media only screen and (max-width: 760px) {
      .main-content {
      flex-direction: column;
    }
}

@media only screen and (max-width: 760px) {
      .banner img {
      margin: 0px;
      width: 100%;
    }
}

@media only screen and (max-width: 760px) {
      .headline {
      align-items: center;
      padding-right: 0px;
      margin-right: 0px;
    }
}

@media only screen and (max-width: 760px) {
      .call-to-action {
      width: 70%;
      margin-bottom: 32px;
    }
}


.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #4a4a4a;
  display: center;
  color: white;
  transition: background-color 500ms linear 0s;
}

.call-to-action:hover {
  background-color: pink;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  color: white;
}

.secondary-content {
  display: flex;
  margin-top: 64px;
  padding-top: 32px;
}

.first-column img {
  width: 100%;
}

.first-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

@media only screen and (max-width: 760px) {
      .first-column {
      display: none;
    }
}

.second-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 0px;
  margin-top: 0px;
}

@media only screen and (max-width: 760px) {
      .second-column {
      width:100%;
    }
}

.article {
  display: flex;
}

@media only screen and (max-width: 760px) {
      .article {
      flex-direction: column;
    }
}

.article div {
  flex-direction: column;
  margin-bottom: 8px;
}

.image-container {
  width: 35%;
  height: auto;
  margin: 0px 16px 16px 0px;

}

@media only screen and (max-width: 760px) {
      .image-container {
      width: 100%;
    }
}

@media only screen and (max-width: 760px) {
      .article div {
      display: flex;
      width: 100%;
    }
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media only screen and (min-width: 760px) {
      .image-container-mobile img {
    display: none;
    }
}

@media only screen and (max-width: 760px) {
      .image-container img {
    display: none;
    }
}

.image-container-mobile img {
  margin: 12px;
}




#learn {
  background-color: white;
  height: auto;
}

@media only screen and (min-width: 760px) {
      #learn {
    background-color: #d8d8d8;
    }
}


.title {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 32px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 760px) {
      .flex-container{
    flex-direction: column;
    align-items: center;
    }
}

@media only screen and (max-width: 760px) {
      .item img {
    display: none;
    }
}

@media only screen and (max-width: 760px) {
      .item h2 {
    display: none;
    }
}

@media only screen and (min-width: 760px) {
      .item {
    background-color: white;
    }
}

@media only screen and (max-width: 760px) {
      .item {
    background-color: #d8d8d8;
    width: 70%;
    }
}

.item {
  max-width: 300px;
  margin: 6px;
}

@media only screen and (min-width: 760px) {
      .item {
    margin: 32px;
    }
}

.item  img {
  width: 100%;
}

.first-column video {
  width: 100%;
}

footer {
  border-top-color:grey;
  border-top-width: thin;
  border-top-style: dotted;
}

.content {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content li {
  display: inline-flex;
  margin-left: 10px;
}

@media only screen and (max-width: 760px) {
      video {
    width: auto;
    }
}

.third-content {
  display: flex;
  margin-top: 64px;
  padding-top: 32px;
}

@media only screen and (max-width: 760px) {
      .third-content {
    display: none;
    }
}

@media only screen and (min-width: 760px) {
      .mobile-video {
    display: none;
    }
}

.mobile-video {
  max-width: 100%;
}
